html,body{
	height: 100%;
	padding: 0;
	margin: 0;
}
.map {
    height: 100%;
    width: 50%;
    float: left;
}


/**
 * legend
 */
 *, *:before, *:after {box-sizing:  border-box !important;}


 .stats{
  display: inline-block;
  float: right;
  width:50%;
  height: 100%;
  padding: 10px;   
 }
 
 .stats .pie-chart{
  min-width: 310px;
  width: 100%;
  height: 90%;
  margin: 0 auto
 }

 .controls {
  display: none;
  float: left;
  width:60%;
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  -moz-column-gap: 0.2em;
  -webkit-column-gap: 0.2em; 
   
 }

 .legenditem {
  display: inline-block;
  margin:  0.25rem;
  padding:  2px;
  width:  100%; 
  background:  #efefef;
  cursor: pointer;
 }


.legenditem .legendcolor{
    display: inline-block;
    border: 1px solid #eee;
    width: 20px;  
    height: 20px;
}

.legenditem .legendname{
    
}
/**
 * Overrides
 */
.ol-control {
     background-color: rgba(255,255,255,0); 
    border-radius: 2px;
}
.ol-control button {
    background-color: rgba(34, 34, 39,.9);
}

.ol-control button:focus, .ol-control button:hover {
    text-decoration: none;
    background-color: rgba(64, 62, 66,.7);
}
